body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl {
	margin:0;
}
h1,h2,h3,h4,h5,h6{
	font-size:1em;
	font-weight: normal;
}
ul,ol,dl {
	padding:0;
}
ul,ol,li {
	list-style:none;
}
.clear:after {
	content:"";
	display:block;
	clear:both;
}